/* GMK Noel https://geekhack.org/index.php?topic=102080.0 */
/* I couldn't find GMK WS2 yet, use WS1 instead */
:root {
  --main-bg-color: #dedfe1;
  --title-color: #efb9c0;
  --text-color: #dedfe1;
  --text-bg-color: #5bb9d2;
  --input-color: #3a6468;
  --input-prepare-color: #3a6468;
  --input-correct-color: #dedfe1;
  --input-wrong-color: #efb9c0;
  --input-bg-color: #dedfe1;
  --count-color: #5bb9d2;
  --meter-color: #5bb9d2;
  --button-color: #5bb9d2;
  --button-bg-color: #efb9c0;
}
