/* GMK Botanical by Hazzy https://geekhack.org/index.php?topic=102350.0  */
:root {
  --main-bg-color: #dde5ed;
  --title-color: #3e5d58;
  --text-color: #3e5d58;
  --text-bg-color: #92aca0;
  --input-color: #3e5d58;
  --input-prepare-color: #dde5ed;
  --input-correct-color: #dde5ed;
  --input-wrong-color: #8d5c4e;
  --input-bg-color: #dde5ed;
  --count-color: #3e5d58;
  --meter-color: #3e5d58;
  --button-color: #dde5ed;
  --button-bg-color: #3e5d58;
}
