.theme-gmk-mizu {
  --main-bg-color: #9fc3d4;
  --title-color: #f7eee3;
  --text-color: #ffffff;
  --text-bg-color: #444f58;
  --input-color: #444f58;
  --input-prepare-color: #f7eee3;
  --input-correct-color: #9fc3d4;
  --input-wrong-color: #ec8593;
  --input-bg-color: #ffffff;
  --meter-color: #444f58;
  --button-color: #444f58;
  --button-bg-color: #9fc3d4;
  --utility-color: #444f58;
}
