/* GMK Shoko https://geekhack.org/index.php?topic=98202.0 */
.theme-gmk-shoko {
  --main-bg-color: #99d6ea;
  --title-color: #fffffd;
  --text-color: #7a99ac;
  --text-bg-color: #fffffd;
  --input-color: #fffffd;
  --input-prepare-color: #99d6ea;
  --input-correct-color: #99d6ea;
  --input-wrong-color: #ea99a7;
  --input-bg-color: #7a99ac;
  --count-color: #fffffd;
  --meter-color: #fffffd;
  --button-color: #fffffd;
  --button-bg-color: #7a99ac;
  --utility-color: #7a99ac;
}
