<!DOCTYPE html>

<head>
    <title>typings</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/modern-normalize@0.6.0/modern-normalize.min.css"></script>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Roboto+Mono" rel="stylesheet">
    <link href="/assets/style.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <div v-bind:class="themeName">
            <div class="wrapper">
                <div class="main">
                    <div class="text-selector">
                        <div class="text-meter">
                            <span class="text-meter-info" title="Words correct per minute">wpm</span>: {{ wpm }},
                            <span class="text-meter-info" title="Accuracy">acc</span>: {{ acc }}
                        </div>
                        <div class="text-title">
                            typings (beta)
                        </div>
                    </div>
                    <div class="text-main">
                        <div class="text-display" v-html="renderedText"></div>
                        <input type="text" ref="typing" class="text-typing" v-model="curTyping" v-bind:class="[curError ? 'typing-text-wrong' : 'text-typing']" />
                        <a href="#" class="text-restart" @click="restart">Restart</a>
                        <div ref="logging" class="text-log">
                          <pre>{{ logOutput }}</pre>
                        </div>
                    </div>
                    <div class="text-themer">
                        <select v-model="wcSelected" @change="selectWordCount($event)">
                            <option v-for="wc in wordCounts" v-bind:value="wc">
                                {{ wc }}
                            </option>
                        </select>
                        <select v-model="themeSelected" @change="selectTheme($event)">
                            <option v-for="theme in themes" v-bind:value="theme.value">
                                {{ theme.name }}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <footer class="footer">
                Copyright &copy; <a href="https://crisp.dev"/>David Zhang</a>. <a href="https://github.com/crispgm/typings">GitHub</a>.
            </footer>
        </div>
    </div>
</body>

<script type="text/javascript" src="/app.js"></script>

</html>
